{{> top title="Tag, basic"}}

	<div class="sandbox">

		<div id="faux">
			#faux clicked!
		</div>

		<div id="faux2">
			#faux2 clicked!
		</div>

		<div id="link">
			#link clicked!
		</div>

		<div id="foo">
			#foo clicked!
		</div>

		<ul>
			<li class="first" data-href="#faux">
				<span>Only data-href="faux"</span>
				<a href="#link">Link</a>
			</li>
			<li class="second">
				<span>No handlers</span>
				<a href="#link">Test</a>
			</li>
			<li class="third" data-href="#faux2">
				<span>Only data-href="faux2", with condition 'screen and (max-width:900px)'</span>
				<a href="#link">Test</a>
			</li>
			<li class="fourth" data-href="#faux" data-target="_blank">
				<span>data-href="faux" and data-target="_blank"</span>
				<a href="#link">Test</a>
			</li>
			<li class="fifth" data-href="#faux">
				<span>Custom basic and alternative actions</span>
				<a href="#link">Link</a>
			</li>
			<li>
				<button type="button" class="sixth" data-href="#faux">
					<span>Custom basic and alternative actions on <code>button</code></span>
				</button>
			</li>
		</ul>

		<div class="controls">
			<button type="button" class="updateSecond">Update '.second' with <code>{href:'#foo'}</code></button><br />
			<button type="button" class="destroyAll">Destroy all instances</button><br />
			<button type="button" class="triggerFirst">Manually trigger '.first'</button><br />
			<button type="button" class="preventFirst">Prevent '.first'</button><br />
			<button type="button" class="preventFirstSecond">Prevent '.first' and '.second'</button><br />
			<button type="button" class="unpreventFirst">Unprevent '.first'</button><br />
			<button type="button" class="unpreventSecond">Unprevent '.second'</button>
		</div>

	</div>

	<script>

		$('.first').fauxAnchor();

		$('.second').fauxAnchor();

		$('.third').fauxAnchor({
			condition: function ( e ) {
				return window.matchMedia('screen and (max-width:900px)').matches;
			}
		});

		$('.fourth').fauxAnchor();

		$('.fifth').fauxAnchor({
			basic: function ( e, done ) {
				console.log('Basic action');
			},
			alternative: function ( e, done ) {
				console.log('Alternative action');
			}
		});

		$('.sixth').fauxAnchor({
			basic: function ( e, done ) {
				console.log('Basic action');
			},
			alternative: function ( e, done ) {
				console.log('Alternative action');
			}
		});

		$('.updateSecond').on('click', function ( e ) {
			$('.second').data('href','#foo');
		});

		$('.triggerFirst').on('click', function ( e ) {
			$('.first').trigger('click');
		});

		$('.destroyAll').on('click', function ( e ) {
			$('li').fauxAnchor('destroy');
		});

		$('.preventFirst').on('click', function ( e ) {
			$('.first').fauxAnchor('prevent');
		});

		$('.preventFirstSecond').on('click', function ( e ) {
			$('.first, .second').fauxAnchor('prevent');
		});

		$('.unpreventFirst').on('click', function ( e ) {
			$('.first').fauxAnchor('unprevent');
		});

		$('.unpreventSecond').on('click', function ( e ) {
			$('.second').fauxAnchor('unprevent');
		});

	</script>

{{> bottom}}
