a, li {
	margin:10px 0;
	padding:20px;
	background:green;
	color:white;
}

a {
	display:block;
}

li a {
	padding:10px;
	background:red;
	color:white;
}

:target {
	background:yellow;
}
a:focus,
li:focus {
	outline:5px solid hotpink;
}

.controls {
	position:fixed; right:10px; top:10px;
}
